<%- include("partials/top") %>
    <h1 class="mt-4 page-header">Event Registration</h1>
    <hr>
    <div class="container bg-light p-5">
        <p class="alert-info">Please enter your details</p>
        <form action="/home/add-registration" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="name" id="name" placeholder="Enter full name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="tel" name="phone" id="phone" placeholder="Enter phone number" minlength="6" maxlength="10" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" id="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <input class="form-control-file" type="file" name="idCard" required>
                <p><strong>Note: </strong> <em>.jpeg | .png files allowed.</em></p>
            </div>
            <div class="form-group">
                <select class="form-control" name="type" id="type">
                    <option value="Self">Self</option>
                    <option value="Group">Group</option>
                    <option value="Corporate">Corporate</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="tickets" id="tickets" value="1" min="1">
            </div>
            <div class="form-group">
                <a class="btn btn-outline-info" id="preview-btn">Preview</a>
                <input class="btn btn-success" type="submit" value="Register">
            </div>
        </form>
    </div>

    <%- include ("partials/bottom") %>