<%- include ("partials/top") %>
    <h1 class="page-header">Landing Page</h1>
    <br>
    <hr><br>
    <h4>Event Registration</h4>
    <a href="/home" class="btn btn-link btn-block">Get Started</a>
    <%- include ("partials/bottom") %>