<%- include ("partials/top") %>

    <h2>Preview</h2>
    <div class="container">
        <img class="img-thumbnail" src="" alt="registration-by-image" height="250px" width="250px">
        <h4>First Name Last Name</h4>
        <h4>Email</h4>
        <h4>Phone number</h4>
        <h4>Registration Type</h4>
        <h4>Number of tickets</h4>
    </div>

    <%- include ("partials/bottom") %>